<form method="post" action="/<%=@id%>/update">
    <label for="ill_name">Illness:</label><br>
    <input type="text" id="ill_name" name="ill_name" value="<%= @todo['name'] %>"><br>

    <label for="ill_desc">Illness description:</label><br>
    <input type="text" id="ill_desc" name="ill_desc" value="<%= @todo['description'] %>"><br>

    <input type="submit" value="Update">
</form>