<form method="post" action="/<%=@id%>/update">
    <label for="med_name">med:</label><br>
    <input type="text" id="med_name" name="med_name" value="<%= @todo['name'] %>"><br>

    <label for="med_desc">med description:</label><br>
    <input type="text" id="med_desc" name="med_desc" value="<%= @todo['description'] %>"><br>

    <input type="submit" value="Update">
</form>