<form method="post" action="/index">
    <label for="ill_name">ill name:</label><br>
    <input type="text" id="ill_name" name="ill_name"><br>

    <label for="ill_desc">ill description:</label><br>
    <input type="text" id="ill_name" name="ill_name"><br>

    <input type="submit" value="Create">
</form>
