<form method="post" action="/index">
    <label for="med_name">med name:</label><br>
    <input type="text" id="med_name" name="med_name"><br>

    <label for="med_desc">med description:</label><br>
    <input type="text" id="med_name" name="med_name"><br>

    <input type="submit" value="Create">
</form>
