<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#127820;Mediciner och sjukdommar</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
    <header>

    </header>
    <nav>
        <a href="/login">Log in</a>
        <a href="/logout">Log out</a>
        <% if session[:user_id] %>
          <a href="/user/prescript">Prescription</a>
          <% if session[:is_admin] %>
            <a href="/admin/ills/new_ill">Ny sjukdom</a>
            <a href="/admin/meds/new_med">Ny medicin</a>
          <% end %>
        <% end %>
    </nav>
    <div class="content">
        <%= yield %>
    </div>
    <footer>
        <p>Kontakta oss</p>
    </footer>
</body>
</html>